@model StackCafe.MakeLineMonitor.Models.DeadLetterViewModel

@{
    ViewBag.Title = "Decide this message's fate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData.Model.Title</h2>

<div>@ViewData.Model.Message</div>

