@model StackCafe.MakeLineMonitor.Models.MakeLineViewModel
@{
    ViewBag.Title = "Make Line Monitor";
}

<style>
    .item {
        float: left;
        border: 1px solid grey;
    }
</style>

<div class="jumbotron">

    <h1>Welcome to Stack Cafe</h1>

    <p class="lead">Now go and make coffee.</p>
    <p>
        And <em>don't smile at the customers!</em>
    </p>

</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Make line monitor</h2>
        <p>
            Make the coffees in order from left to right. Poke the button on the screen when you've made the coffee.
        </p>
    </div>
</div>
<div class="row" id="items"></div>

@section scripts
{
    <script>
        (function worker() {
            var urlParams = new URLSearchParams(window.location.search);

            jQuery.ajax({
                url: '@Url.Action("GetItems", "MakeLine", new { view = Model.view })',
                success: res => {
                    var $items = $('#items');
                    $items.empty();
                    res.Items.map(item => {
                        $items.append(
                            $('<div/>', { class: 'col-md-4 item' }).append(
                                $('<h2/>', { text: item })
                            )
                        );
                    });
                },
                complete: () => {
                    setTimeout(worker, 500);
                }
            });
        })();
    </script>
}