@model StackCafe.MakeLineMonitor.Models.MakeLineViewModel
@{
    ViewBag.Title = "Make Line Monitor";
}

<meta http-equiv="refresh" content="1">
<div class="jumbotron">

    <h1>Welcome to Stack Cafe</h1>

    <p class="lead">Now go and make coffee.</p>
    <p>
        And <em>don't smile at the customers!</em>
    </p>

</div>
<div class="row">
    <div class="col-sm-12">
        <h2>Make line monitor</h2>
        <p>
            Make the coffees in order from left to right. Poke the button on the screen when you've made the coffee.
        </p>
    </div>
</div>
<div class="row">

    @foreach (var order in Model.Orders)
    {
        <div class="col-md-4" style="float: left; border: 1px solid grey; background: @System.Drawing.ColorTranslator.ToHtml(order.Colour)">

            <h2>@order.CoffeeType</h2>

        </div>
    }


</div>